$base-color: aquamarine;
$dark-color: #333;

.button-component {
  background: none;
  border: none;
  padding: 0;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 3px;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 200ms;
  font-size: 20px;
  line-height: 21px;
  padding: 7px 12px;
}
.primary {
  color: $dark-color;
  background-color: $base-color;
}

.primary:hover {
  background-color: $dark-color;
  color: $base-color;
}

.secundary {
  color: $base-color;
  background-color: $dark-color;
}
.secundary:hover {
  background-color: $base-color;
  color: $dark-color;
}
